<h2>Log in</h2>

<%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true) do |f| %> <% if resource.errors.any? %>
<% resource.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<% end %>
<%= f.label :email, class: 'form-label' %> <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
<%= f.label :password, class: 'form-label' %> <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true %>
<% if devise_mapping.rememberable? %>
<%= f.check_box :remember_me, class: 'form-check-input' %> <%= f.label :remember_me, class: 'form-check-label' %>
<% end %>
<%= f.submit 'Sign in', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'text-muted' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'text-muted' %>
